html {
  scroll-behavior: smooth;
}

body {
  margin: 0px;
  padding: 0px;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

.container {
  max-width: 1200px;
  width: 100%;
  padding: 0px 15px;
  margin: 0px auto;
}

@media (max-width: 1200px) {
  .container {
    max-width: 375px;
  }
}

@font-face {
  font-display: swap;
  font-family: 'Forum';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/forum-v19-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'TT Firs Neue';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/TTFirsNeue-ExtraLight.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Berlingske Serif';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/BerlingskeSerif-Regular.woff2') format('woff2');
}

.animate__animated {
  animation-duration: 0.8s;
  animation-fill-mode: both;
}

[data-animate] {
  opacity: 0;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.animate__fadeIn {
  animation-name: fadeIn;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInLeft {
  animation-name: fadeInLeft;
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInRight {
  animation-name: fadeInRight;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 40px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.animate__fadeInUp {
  animation-name: fadeInUp;
}
